
<div class="jumbotron text-center">
	<div class="container">
		<p>Add Category</p>




<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Add New
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="addCat" class="form-control" type="text" placeholder="" required="required">
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="addCat()">Add</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Category
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="dropdownCategory" class="full-width"/>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="removeCategory()">Remove</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Update
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="updateCat" class="form-control" type="text" placeholder="" required="required">
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="updateCategory()">Update</button>
	</div>
</div>




	</div>
</div>


<div class="jumbotron text-center">
   <div class="container">
      <p>Add Sub-Category</p>

<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Category
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="dropdownCategorySub"  class="full-width"/>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">

	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Add New
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="addSubCat"  class="form-control" type="text" placeholder="" required="required">
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="addSubCat()">Add</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Sub-Category
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="dropdownSubCategory"  class="full-width"/>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="removeSubCategory()">Remove</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
		Update
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 ">
		<input id="updateSubCat"  class="form-control" type="text" placeholder="" required="required">
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<button type="submit" class="btn btn-block btn-success" ng-click="updateSubCategory()">Update</button>
	</div>
</div>


   </div>
</div>

