
<div class="jumbotron text-center">

	<div class="container">


		<h4 class="pull-left">Login</h4><br>


               <form id="loginform" name="loginform" ng-submit="login()" autocomplete="off" novalidate>
               <br>
               <div class="all-wrap">
                  <input id="loginuser" name="loginuser"  type="text" class="form-control" placeholder="Username" ng-model="loginuser" required="required">
                  <span style="color:red"  ng-show="loginform.loginuser.$invalid  && loginform.loginuser.$dirty" class="help-block">Username</span>
               </div>
               <br>
               <div class="all-wrap">
                  <input id="loginpassword" name="loginpassword" type="password" class="form-control" placeholder="Password" ng-model="loginpassword" required="required">
                  <span style="color:red"  ng-show="loginform.loginpassword.$invalid  && loginform.loginpassword.$dirty" class="help-block">Password</span>
               </div>
               <br>
               <button type="submit" class="btn btn-block btn-lg btn-success">Login</button>
               <br>
               </form>


	</div>


</div>

